[submodule "Open-Teach"]
	path = Open-Teach
	url = https://github.com/BobbyPeng123/Open-Teach.git
[submodule "reskin_sensor"]
	path = reskin_sensor
	url = https://github.com/raunaqbhirangi/reskin_sensor.git
